
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

nav{
    display:flex ;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 80px;
}
.logo{
    margin-left: 30px;
}
nav img{
    width: 110px;
}
.nav-bar{
   margin-right: 350px;
}
nav a{
    color: #272D4E;
    text-decoration: none;
    font-size: 18px;    
    font-weight: 500;
    margin-right: 20px;
}
.header-section{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 50%;
    padding-left: 150px;
    padding-top: 45px;
}
.half-width p{
    font-size: 65px;
    margin: 0;
    font-weight: 800;
}
.half-width-img{
    width: 50%;
   
}
.half-width-img img{
    width: 100%;
    
}
.button-getstarted {
    color: white;
    background-color:#7854F7;
    padding: 5px 10px;
    border-radius: 5px;
}
h4{
    color: #94A2B3;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}
.button-newstore{
    color: white;
    background-color:#7854F7 ;
    padding:15px 30px ;
    border-radius: 25px;}
.customize-link{
    color: #299EF3;
    text-decoration: none;
    margin-left: 3px;
}
/* your ecommerce made simple */
.first-container{
    margin-bottom: 80px;
}
.first-container h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color:  #272D4E;
    font-size: 40px;
    font-weight: bold;
    
}


.ecommerce-container{
    display: flex;
    justify-content: space-evenly;
}
.multiple-img img{
    width: 400px;
}
#first-img{
    padding-left: 100px;
}
.img-info{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}
.img-info h2{
    font-size: 30px;
    text-align: left;
}
.img-info p{
    margin-top: 0;
    font-size: 15px;
}
/* blog section */

.blog img{
    width: 350px;
}
.develop-withoutlimits{
    display: flex;
    margin-left: 150px;
   
}
.global-community{
    display: flex;
    margin-left: 400px;
    
}
.blog-1{
    width: 400px;
    padding-left: 20px;
}
.blog-1{
    width: 400px;
}
.blog-2{
    width: 400px;
}
.blog a{
    font-size: 18px;
    color: white;
    background-color: yellowgreen;
    padding: 10px 20px;
    border-radius: 25px;
    
}
.blog p{
    margin-bottom: 30px;
}
/* People section */
.container{
    margin-top: 300px;
    position: relative;
}
.heading{
    position: relative;
    top: -180px;
}
.container h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color:  #272D4E;
    font-size: 40px;
    font-weight: bold;
}
.container p{
    display: flex;
    justify-content: center;
    text-align: center;
    color:#94A2B3;
    font-size: 12px;
}
.people-img{
    position: absolute;
    top: -57px;
    width: 80%;
    margin-left: 10%;
}
.get-started{
    position: absolute;
    width: 100%;
    background-color:  #5F37EF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}
.btn-getstarted{
    position: relative;
    top: 20px;
    margin-left: 30px;
   
}
.get-started p{
    color: white;
    font-size: 20px;
}
.get-started a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding:10px 20px;
    border-radius: 25px;
}


.info-link{
    position: absolute;
    top: 250px;
   background-color: #7854F7;
   padding-bottom: 50px;
   width: 100%;
}
.link-icon{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 100px;
}
.link-icon a{
    font-size: 20px;
    font-weight: 50;
    text-decoration: none;
    color: white;
}

.logo-2 img{
   position: relative;
   left: 45%;
   padding-bottom: 50px;
}
hr{
    border: 1px solid white;
    width: 80%;

}
/* All info link */
.all-info-link{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-left: 220px;
    margin-right: 200px;

}
.all-info-link span{
    color: white;
}
  
.all-info-link span ul{
    padding-inline-start: 0;
}

.all-info-link li{
    list-style: none;
}
.all-info-link a{
    text-decoration:none ;
    color: white;
    
}




/* footer */
footer{
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-left: 80px;
    
}
.position{
    position: absolute;
    top: 780px;
    padding-bottom: 20px;
}
.position span{
   margin-right: 80px;
}

.icon a{
    color: #272D4E;
    margin-right: 30px;
}